extends layout

block content
    p There were #{incorrect_count} number of typos
    p #{most_incorrect} is the most commonly mis-spelt word 
    p Totally #{new_word_count} new words added to the dictionary 

