doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script.
        socket = io.connect('http://localhost');
         socket.on('connect', function(data){
            socket.emit('subscribe', {channel:'count'});
            });
        socket.on('message', function(data){
            $("p#"+data.channel+'> i').text(data.message);
            });
  body
    block content
